doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title The Benevolence
    link(href='/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/css/icon.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/login.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/css/index.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/css/mainstyle.css', type='text/css', rel='stylesheet', media='screen,projection')
    script(type='text/javascript',src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

  body.welcome(ng-app='frontend')
    span#splash-overlay.splash
    span#welcome.z-depth-4
    header.navbar-fixed
      nav.row.deep-purple.darken-3
        .nav-wrapper.container
          a#logo-container.brand-logo(href='/',style='width:35%')
            img.responsive-img(src='/img/logo.png', style='vertical-align: middle;')
          ul.right.hide-on-med-and-down
            li
              a.btn-flat.white-text.transparent(href='/suggest')
                | Suggest
                i.material-icons.left announcement
            li
              a.btn-flat.white-text.transparent(href='#')
                | Who Are We ?
                i.material-icons.left public
            if user
              li
                a.btn-flat.white-text.transparent(href='/logout')
                  | Logout
                  i.material-icons.left power_settings_new

          ul#nav-mobile.side-nav(style='left: -250px;')
            li
              a.btn-flat.transparent(href='#')
                | About Site ...
                i.material-icons.left code
            li
              a.btn-flat.transparent(href='#')
                | Who Are We ?
                i.material-icons.left public
            li
              a.btn-flat.transparent(href='#')
                | Donate
                i.material-icons.left payment
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu
    main.valign-wrapper
      block content

    footer.page-footer.deep-purple.darken-3
      .footer-copyright.deep-purple.darken-4
        .container
          copyright © 2017 The Benevolence Social Network
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/materialize/materialize.min.js')
    script.
      $("#myimg").click(function() {
      $("input[id='fileimage']").click();
      });
      function readURL(input, imgElem) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
        $(imgElem).attr('src', e.target.result);
         }
        reader.readAsDataURL(input.files[0]);
         }
         }
        $("#fileimage").change(function(){
          readURL(this,"#myimg");
        });
