extends ../layout
block content
    link(href='/css/mystyle.css', type='text/css', rel='stylesheet')
    .row(style={width:100})
      .col.l12
        .card.indigo.lighten-5
          .card-content.black-text
            span.card-title charity Registeration
              i.material-icons.left shopping-basket
            .row
              form.col.l12(id="uploadForm", enctype="multipart/form-data" ,action='/charity_info', method='post')
                  .row
                    .col.s12
                      .row.valign-wrapper
                        .col.s8
                        img#myimg.circle.responsive-img(src='/img/boy-512.png', width="200" , hight="60" alt=''
                        ,name='profileimage' )

                  .row
                    .col.l6.m6.s12
                          .input-field.col.s12
                            input#fullname.validate(type='text',name='fullname',required=true)
                            label(for='fullname') Full Name

                  .row
                        .col.l6.m6.s6
                          .input-field.col.s12
                            textarea#address.materialize-textarea(name='address',required=true)
                            label(for='address') Address

                        .col.l6.m6.s6
                          .input-field.col.s12
                            textarea#phone.materialize-textarea(name='phone',required=true)
                            label(for='phone') Phone
                  .row
                        .col.l6.m6.s6
                          .input-field.col.s12
                            textarea#register.materialize-textarea(name='registernumber',required=true)
                            label(for='registernumber') Register No.

                        .col.l6.m6.s6
                          .input-field.col.s12
                            textarea#register.materialize-textarea(name='register',required=true)
                            label(for='register') Tax register


                  .row
                      input#fileimage.form-control( name='profileimage',type='file',style='display: none;')

                  .card-action
                        .row
                        button.btn.btn-primary.right(type='submit') Continue