extends ../layout
block content
  .container 
    center
      h5.white-text Please Tell Us Exactly Who are you ?!!
      .container
        .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
          .row
            a.btn.col.m4.btn-flat.btn-large.waves-effect(href='/completeInfo/charity')
              i.material-icons nature_people
              |  Charity
            a.btn.col.m4.btn-flat.btn-large.waves-effect(href='/completeInfo/donator')
              i.material-icons accessibility
              |  Volunteer  
            a.btn.col.m4.btn-flat.btn-large.waves-effect(href='/completeInfo/volunteer')
              i.material-icons attach_money
              |  Donator  
