extends ./donator-profile
block contentx
        .row
        if campains[0]
          each campain in campains
           .col.s4
             .card.blue-grey.lighten-4
               .card-content
                    span.card-title
                      |Title
                      h3= campain.title
                      hr
                    span.card-body
                      |Help Type:
                      h5= campain.helptype
                    span.card-body
                      |Phone Number:
                      h5= campain.amount
                    span.card-body
                      |Details::
                      h5= campain.details
               .card-action
                  button.btn.waves-effect.waves-light.blue-grey
                    i.material-icons share
                  a.waves-effect.waves-light.btn
        else
            p no Campains to display
