extends ../layout
block content
  link(href='/css/mystyle.css', type='text/css', rel='stylesheet')
  .row(style={width:100})
    .col.l12
      .card.indigo.lighten-5
        .card-content.black-text
          span.card-title Donator Registeration
            i.material-icons.left shopping-basket
          .row
            form.col.l12(id="uploadForm", enctype="multipart/form-data" ,action='/Donator_info', method='post')
                .row
                .col.s12
                  .col.s4.offset-m4
                     .row.valign-wrapper
                       .col.s12
                         img#myimg.circle.responsive-img(src='/img/boy-512.png', width='220', height='60', alt=''
                         ,name='profileimage' )
                .row
                  .col.s12
                    .col.s6
                      .row
                        .input-field.col.s12
                          input#firstname.validate(type='text',name='firstname',required=true)
                          label(for='firstname') First Name
                    .col.s6
                        .input-field.col.s12
                          input#last_name.validate(type='text',name='lastname',required=true)
                          label(for='last_name') Last Name
                .row
                      .col.s12
                      .input-field.col.s12
                        input#phone.validate(type='text',name='phone',required=true)
                        label(for='phone') phone
                .row
                      .col.s12
                      .input-field.col.s12
                        input#job.validate(type='text',name='job',required=true)
                        label(for='job') job
                .row
                    input#fileimage.form-control( name='profileimage',type='file',style='display: none;')
                .card-action
                      .row
                      button.btn.btn-primary.right(type='submit') Continue
