extends ./donator-profile
block contentx
        .row
        if suggestions
          each suggestion in suggestions
           .col.s4
             .card.blue-grey.lighten-4
               .card-content
                    span.card-title
                      |Title
                      h3= suggestion.title
                      hr
                    span.card-body
                      |Help Type:
                      h5= suggestion.helptype
                    span.card-body
                      |Needer Type:
                      h5= suggestion.needertype
                    span.card-body
                      |Address:
                      h5= suggestion.address  
                    span.card-body
                      |Phone Number:
                      h5= suggestion.phone
                    span.card-body
                      |Details::
                      h5= suggestion.details
               .card-action
                  button.btn.waves-effect.waves-light.blue-grey
                    i.material-icons share
                  a.waves-effect.waves-light.btn
        else
            p no Suggestions to display
