extends ../layout
block content
  span.container.grey-text.text-lighten-1
    img.right(src='/img/tree.png', width='20%')
    p.flow-text Welcome to
    h1.title.grey-text.text-lighten-3 The Benevolence
    blockquote.flow-text A place to share , volunteer ,donate and make people happy .
    .center-align
      a.btn.waves-effect.waves-light(href='/signup', type='submit')
        | Join Us
        i.material-icons.right cloud_done
      a.btn.waves-effect.waves-light(href='/login', type='submit', style='margin: 5px;')
        | Login
        i.material-icons.right lock_open
