extends ../layout
block content
  .container(ng-controller='LoginCtrl')
    center
      .section
        h5.indigo-text Please, login into your account
      .section
      .container
        .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
          form.col.s12(method='post' , action='/login')
            .row
              .input-field.col.s6
                input#email.validate(type='email', name='email')
                label(for='email') Enter your email
              .input-field.col.s6
                input#password.validate(type='password', name='password')
                label(for='password') Enter your password
            br
            center
              .row
                button.btn.col.s12.btn-flat.btn-large.waves-effect(type='submit', name='btn_login') 
                  i.material-icons send
                  |  Login

              .row
                a.btn.col.s12.btn-large.waves-effect.indigo(href='/auth/facebook', name='btnfb')
                  i.fa.fa-facebook
                  |  Sign in with facebook
              .row
                a.btn.col.s12.btn-large.waves-effect.blue.lighten-2(href='/auth/twitter', name='btnttr')
                  i.fa.fa-twitter
                  |  Sign in with twitter
      a(href='/signup') Create a Local Account


