extends ../layout
block content
  span.container.grey-text.text-lighten-1
    img.right.img-responsive(src='/img/tree.png')
    p.flow-text Thank You  ....!
    blockquote.flow-text Your suggestion sent and will activated soon ...
    .center-align
      a.btn.waves-effect.waves-light(href='/', type='submit', name='action')
        | Back to Home Page
        i.material-icons.right back