extends ../layout
block content
  .row
    .col.s12.m5.l4
      .card.light-white
        .card-content
          img.col.s4.img-circle(src='/uploadimages/'+image ,width='100',height='100')
          span.col.s8
            |Name:
            p= firstname
            |Address
            p= address
            hr
      ul#profile-page-about-details.collection.z-depth-1
        li.collection-item
          .row
            .col.s5.grey-text.darken-1
              i.mdi-action-wallet-travel
              | Phone
            .col.s7.grey-text.text-darken-4.right-align
              span.col.s8
               p= phone
        li.collection-item
          .row
            .col.s5.grey-text.darken-1
              i.mdi-social-poll
              | Register Number
            .col.s7.grey-text.text-darken-4.right-align
              span.col.s8
                p= registernumber
        li.collection-item
          .row
            .col.s5.grey-text.darken-1
              i.mdi-social-domain
              | Tax Register
            .col.s7.grey-text.text-darken-4.right-align
              span.col.s8
                 p= register

    .col.s12.m7.l8
      .row
        .col.s12.m12
          .row
            a.col.s12.m3(href='/organisation/events')
              .card.blue.darken-3
                .card-content.white-text.center-align
                  p.card-title
                    i.material-icons printer
                  p Events
            a.col.s12.m3(href='/Profile/Print/')
              .card.pink.darken-3
                .card-content.white-text.center-align
                  p.card-title
                    i.material-icons flash_on
                    | 5
                  p Campains
            a.col.s12.m3(href='/Profile/Print/')
              .card.grey.darken-2
                .card-content.white-text.center-align
                  p.card-title
                    i.material-icons language
                    |
                  p Volunteers
            a.col.s12.m3(href='/Profile/Print/')
                .card.orange.lighten-2
                  .card-content.white-text.center-align
                    p.card-title
                      i.material-icons search
                      |
                    p Suggestions
      .row
            block content2
