extends ../layout
block content
  .row
    .col.s12.m5.l4
      .card.light-white
        .card-content
          img.col.s4.img-circle(src='/img/avatar.jpg',width='100',height='100')
          span.col.s8
            p Hamed Hamed
            p Doctor 
            hr
            span.card-title.center
            | Bio :
            p I am a very simple volunteer , passionate about making people happy .
      ul#profile-page-about-details.collection.z-depth-1
        li.collection-item
          .row
            .col.s5.grey-text.darken-1
              i.mdi-action-wallet-travel
              | Study
            .col.s7.grey-text.text-darken-4.right-align Computer Science 
        li.collection-item
          .row
            .col.s5.grey-text.darken-1
              i.mdi-social-poll
              | Skills
            .col.s7.grey-text.text-darken-4.right-align HTML, CSS , JavaScript
        li.collection-item
          .row
            .col.s5.grey-text.darken-1
              i.mdi-social-domain
              | Lives in
            .col.s7.grey-text.text-darken-4.right-align Mansoura, Eldaqhlia
        li.collection-item
          .row
            .col.s5.grey-text.darken-1
              i.mdi-social-cake
              | Birth date
            .col.s7.grey-text.text-darken-4.right-align 18th June, 1994


    .col.s12.m7.l8
      .row
        .col.s12.m12
          .row
            a.col.s12.m3(href='/Profile/Print/')
              .card.blue.darken-3
                .card-content.white-text.center-align
                  p.card-title
                    i.material-icons printer 
                  p Print Cv
            a.col.s12.m3(href='/Profile/Print/')
              .card.pink.darken-3
                .card-content.white-text.center-align
                  p.card-title
                    i.material-icons flash_on
                    | 5
                  p Comming Events
            a.col.s12.m3(href='/Profile/Print/')
              .card.grey.darken-2
                .card-content.white-text.center-align
                  p.card-title
                    i.material-icons language
                    |                                     
                  p My Organization
            a.col.s12.m3(href='/Profile/Print/')
                .card.orange.lighten-2
                  .card-content.white-text.center-align
                    p.card-title
                      i.material-icons search
                      |                                     
                    p Find Organization
          
 
