extends ../layout
block content
  link(href='/css/mystyle.css', type='text/css', rel='stylesheet')
  .container
   center
     .section
     h5.indigo-text Create a new User or Organization Account .
     .section
     .container
       .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
         form.col.s12(method='post',action='/signup')
           .row
             .col.s12
           .row
             .input-field.col.s12
               input#email.validate(type='email', name='email')
               label(for='email') Email
           .row
             .input-field.col.s6
               input#password.validate(type='password', name='password')
               label(for='password')  Password

             .input-field.col.s6
               input#password.validate(type='password', name='confirm')
               label(for='password') Confirm Password
           br
           center
             .row
               button.btn.col.s12.btn-large.waves-effect.indigo(type='submit', name='btn_login') Register
    
     a(href='/login') Already have an account!? Login !
