extends ../layout

block content
  link(href='/css/mystyle.css', type='text/css', rel='stylesheet')
  .row(style={width:100})
    .col.l12
      .card.blue-grey.darken-1
        .card-content.white-text
          span.card-title Make a suggestion
            i.material-icons.left announcement
          .row
            form.col.l12(action='/addsuggestion', method='post')

              .row
                .input-field.col.s12
                  input#last_name.validate(placeholder='what do you suggest ??',name='title' , type='text', required='')
                  label(for='last_name') Suggestion Title
              .row
                .col.l6.m6.s6
                  .row
                    |Choose The Type Of Needer
                    .input-field.col.s12
                      p
                        input#person(type='radio', name='kind', value='person')
                        label(for='person') Person
                        p
                        input#place(type='radio', name='kind', value='place')
                        label(for='place') Place

                .col.l6.m6.s6
                    .row
                      |Choose The Type Of Help
                      .input-field.col.s12
                        p
                          input#money(type='checkbox',name='help',value='money')
                          label(for='money') Money
                        p
                          input#anotherhelp(type='checkbox',name='help',value='another'  )
                          label(for='anotherhelp') Anotherhelp

              .row
                .input-field.col.s12
                  i.material-icons.prefix mode_edit
                  textarea#details.materialize-textarea(name='details')
                  label(for='details') Details
              .row
                .input-field.col.s12
                    i.material-icons.prefix phone
                    input#phone.active.validate(placeholder='Phone Number',name='phone', type='text', required='')
                    label(for='address') phone

              .row
                .input-field.col.s12
                    i.material-icons.prefix location_on
                    input#address.active.validate(placeholder='Address',name='address' , type='text', required='')
                    label(for='address') Address

              .card-action
                .row
                button.btn.btn-primary.right(type='submit') Submit Suggestion
