extends ./volunteer-profile
block contentz
        .row
        if organisations[0]
          each organisation in organisations
           .col.s4
             .card.blue-grey.lighten-4
               .card-content
                    img.materialboxed(data-caption=organisation.fullname+' Image', width='180', src='/uploadimages/'+organisation.profileimage)
                    span.card-title
                      
                      |Fullname
                      h3= organisation.fullname
                      hr
                    span.card-body
                      |Phone Number:
                      h5= organisation.phone
                    span.card-body
                      |Address:
                      h5= organisation.address
                    span.card-body
                      |Register Number:
                      h5= organisation.registernumber
                    span.card-body
                        |Tax Number:
                        h5= organisation.register  
                    span.card-body
                        button.waves-effect.waves-light.btn(id=organisation._id) Subscribe
        else
            p no Organizations to display
        script.
            $("button").on('click',function(){
              console.log($(this).attr('id'));
             $.ajax({
             type: "POST",
             url: "/vol-api/SubChar",
             data: { 
               charity_id: $(this).attr('id')
              }
            }).done(function(d) {
                  console.log(d);
                  $('#'+d).attr("disabled", true);
                }).fail(function() {
                  alert('ERROR');
                });
             });
            
