extends ../layout
block content
    link(href='/css/mystyle.css', type='text/css', rel='stylesheet')
    .row(style={width:100})
      .col.l12
        .card.indigo.lighten-5
          .card-content.black-text
            span.card-title Volunteer Registeration
              i.material-icons.left shopping-basket
            .row
              form.col.l12(id="uploadForm", enctype="multipart/form-data" ,action='/volunteer_info', method='post')
                  .row
                    .col.l6.m6.s12
                      .col.l6.m6.s6
                        .row
                          .input-field.col.s12
                            input#firstname.validate(type='text',name='firstname',required=true)
                            label(for='firstname') First Name
                      .col.l6.m6.s6
                        .row
                          .input-field.col.s12
                            input#last_name.validate(type='text',name='lastname',required=true)
                            label(for='last_name') Last Name

                    .col.l6.m6.s12
                      .col.s12.m8.offset-m2.l6.offset-l3
                         .row.valign-wrapper
                           .col.s8
                             img#myimg.circle.responsive-img(src='/img/boy-512.png', alt=''
                             ,name='profileimage' )
                  .row
                        .col.l6.m6.s8
                          .col.l6.m6.s6
                              .row
                                           .input-field.col.s12
                                             input#phone.validate(type='text',name='phone',required=true)
                                             label(for='phone') phone
                          .col.l6.m6.s6
                              .row
                                           .input-field.col.s12
                                             input#university.validate(type='text',name='university',required=true)
                                             label(for='university') University

                        .col.l6.m6.s4
                          .row
                             label Birth Date:
                             input.datepicker(type='date',name='date')
                  .row
                       .col.l6.m6.s8
                         .col.l6.m6.s6
                           .row
                             .input-field.col.s12
                               input#study.validate(type='text',name='study',required=true)
                               label(for='study') Study Field
                         .col.l6.m6.s6
                           .row
                             .input-field.col.s12
                               input#job.validate(type='text',name='job',required=true)
                               label(for='job') Job

                       .col.l6.m6.s4
                           .row
                             .input-field.col.s12
                               input#skill.validate(type='text',name='skills',required=true)
                               label(for='skill') Skills
                  .row
                        .col.l6.m6.s6
                          .input-field.col.s12
                            textarea#address.materialize-textarea(name='address',required=true)
                            label(for='address') Address

                        .col.l6.m6.s6
                          .input-field.col.s12
                            textarea#bio.materialize-textarea(name='bio',required=true)
                            label(for='bio') Bio
                  .row
                      input#fileimage.form-control( name='profileimage',type='file',style='display: none;')

                  .card-action
                        .row
                        button.btn.btn-primary.right(type='submit') Continue
              