.date {
    font-size: .8em;
}

.linkLine {
    color: #757575 !important;
}

.t-row {
    padding: 0 !important;
}

.textLine {
    margin-left: 2em;
    border-radius: 0 !important;
}

.modal > div > input[type=text] {
    border-bottom: 1px solid #009688;
    text-indent: 5px;
    font-size: 1.2em;
}

.modal > div > .input-field input[type=text]:focus {
    border-bottom: 1px solid #009688;
    box-shadow: 0 1px 0 0 #009688;
    font-size: 1.2em;
    text-indent: 10px;
}

.modal > div > input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #009688;
    box-shadow: 0 1px 0 0 #009688;
}

.icon-column > i {
    font-size: 1.3em !important;
}
.alert {
    @extend .card-panel, .lighten-4, .text-darken-4;

    &.alert-success {
        @extend .green, .green-text;
    }

    &.alert-info {
        @extend .blue, .blue-text;
    }

    &.alert-warning {
        @extend .yellow, .yellow-text;
    }

    &.alert-danger {
        @extend .red, .red-text;
    }

    .close {
        position: absolute;
        top: 50%;
        right: 0.5rem;

        color: inherit;
        margin-top: -18px;
    }
}

@media (max-width: 380px) {
}

@media (max-width: 600px) {
    .t-row:nth-of-type(odd) .card-action > * {
        float: right;
        direction: ltr;
    }

    .t-row:nth-of-type(even) .card-action > * {
        float: right;
        direction: ltr;
    }

    .t-row .linkLine {
        float: left;
    }
}

@media (min-width: 600px) {
    .t-row:nth-of-type(even) .card-action {
        direction: rtl;
    }

    .t-row:nth-of-type(odd) .card-action {
        direction: ltr;
    }

        .t-row:nth-of-type(odd) .card-action > * {
            float: left;
            direction: ltr;
        }

    .t-row:nth-of-type(odd) .linkLine > i {
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    .t-row:nth-of-type(even) .card-action > * {
        float: right;
        direction: ltr;
    }
}
