 body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    main {
      flex: 1 0 auto;
    }
    h1.title,
    .footer-copyright a {
      font-family: 'Architects Daughter', cursive;
      text-transform: uppercase;
      font-weight: 900;
    }
    /* start welcome animation */
    body.welcome {
      background: #272D4E;
      -webkit-font-smoothing: antialiased;
    }
    .welcome .splash {
      height: 0px;
      padding: 0px;
      border: 130em solid #039be5;
      position: fixed;
      left: 50%;
      top: 100%;
      display: block;
      box-sizing: initial;
      border-radius: 50%;
    }

    .welcome #welcome {
      background: #311b92;
      width: 56px;
      height: 56px;
      position: absolute;
      left: 50%;
      top: 50%;
      
      opacity: 0;
      transform: translate(-50%, -50%);
    }
    /* moveIn */

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }
    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
