 .row {
    margin-top:0 !important;
    margin-bottom:0 !important;
      }
  .card {
    right: 0px;
    display: block;
    margin: auto;
    width: 85%;
    padding: 10px;
    }
    #v{
      text-align: center;
    }
