<div class="container-fluid error-fullpage error-404" ng-controller="NotFoundController">

	<div class="row">
		<div class="col-md-12">
			<p class="text-center">
				<span class="error-heading">404,Oops!</span>
			</p>
			<p class="text-center">Sorry The Page you are looking for is not Exist.</p>
			<p class="text-center">We have unleashed our code monkeys to fix it. Please try again later.</p>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<form action="">
				<div class="input-group">
					<label for="errsearch" class="sr-only">Search</label>
					<input type="text" class="form-control" id="errsearch" placeholder="Search...">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">Search</button>
					</span>
				</div>
			</form>
			<p class="text-center mt10"><small><a href="#">Report error?</a></small></p>
		</div>
	</div>

</div>
<!-- container-fluid -->
