<!-- ng-init="showPanel = false; showSetting = false; showPrint = false;" -->
<div ng-controller="charctrl">
  <script type="text/ng-template" id="deleteModel.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirm Delete of class!{{}}</h3>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">Yes</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </script>
  <hr>
  <div id="page-heading">
      <ol class="breadcrumb">
          <li><a href="/">Dashboard</a></li>
          <li ><a>Charities</a></li>
      </ol>
      <h1 >Manage Charities</h1>

      <div class="options">
          <div class="col-sm-12 " >
              <div class="input-group">
                <div>
                  <input  type="text" class="form-control" ng-model="search" placeholder="Insert search key ......">
                </div>


           </div>
          </div>
      </div>
  </div>
  <button ng-click="expendToAll()" class="btn btn-default">All Charities</button>
  <button ng-click="expendToAccept()" class="btn btn-primary">Accepted Charities</button>
  <button ng-click="expendToRefused()"  class="btn btn-warning">Refuced Charities</button>
  <hr>
  <div ng-if="all" class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-md-6" dir-paginate="it in allCharities|filter:search|itemsPerPage:12 track by $index">
              <panel panel-icon="fa fa-eye" panel-class="panel-toyo" heading="{{$index +1}}- {{it.fullname}}">
                  <panel-controls>
                    <img src="/uploadimages/{{it.profileimage}}" class="img-circle" alt="Cinque Terre" width="50" height="40">

                      <button ng-click="delete(it)" class="btn btn-danger button-icon"><i class="glyphicon glyphicon-remove"></i></button>
                      <button  data-toggle="modal" data-target="#editclassmodal" class="btn btn-primary button-icon"><i class="glyphicon glyphicon-edit"></i></button>

                  </panel-controls>
                  <div class="row">
                    <div class="col-md-6">
                      <b> Phone:  {{it.phone }}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Tax Register:  {{it.register}}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Address:  {{it.address}}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Register No :  {{it.registernumber }}</b>
                    </div>
                    <div ng-if="it.status!==null" class="col-md-6">
                      <p ng-if="it.status">Status: Accepted</p>
                      <p ng-if="!it.status">Status: Refused</p>
                    </div>
                    <div ng-if="it.status===null" class="col-md-6">
                      Status: Not Yet
                    </div>

                  </div>
                  <hr/>
                  <div ng-if="it.status!==null" class="pull-right">
                    <a ng-if="!it.status" ng-click="accepte(it)" class="btn btn-primary">Accept</a>
                    <a ng-if="it.status" ng-click="refuse(it)" class="btn btn-warning">Refuced</a>
                  </div>
                  <div ng-if="it.status===null" class="pull-right">
                    <a  ng-click="accepte(it)" class="btn btn-primary">Accept</a>
                    <a  ng-click="refuse(it)" class="btn btn-warning">Refuced</a>
                  </div>
              </panel>

          </div>
      </div>
      <div class="panel-loading" ng-show="loading">
          <div class="panel-loader-circular"></div>
      </div>
      <dir-pagination-controls style="display:block;text-align:center;"></dir-pagination-controls>

  </div>
  <div ng-if="accepted" class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-md-6" dir-paginate="it in allCharities|filter:search|itemsPerPage:12 track by $index">
              <panel ng-if="it.status" panel-icon="fa fa-eye" panel-class="panel-toyo" heading="{{$index +1}}- {{it.fullname}}">
                  <panel-controls>
                    <img src="/uploadimages/{{it.profileimage}}" class="img-circle" alt="Cinque Terre" width="50" height="40">

                      <button ng-click="delete(it)" class="btn btn-danger button-icon"><i class="glyphicon glyphicon-remove"></i></button>
                      <button  data-toggle="modal" data-target="#editclassmodal" class="btn btn-primary button-icon"><i class="glyphicon glyphicon-edit"></i></button>

                  </panel-controls>
                  <div class="row">
                    <div class="col-md-6">
                      <b> Phone:  {{it.phone }}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Tax Register:  {{it.register}}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Address:  {{it.address}}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Register No :  {{it.registernumber }}</b>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                  </div>
                  <hr/>
                  <div class="pull-right">
                    <a ng-click="refuse(it)" class="btn btn-warning">Refuced</a>
                  </div>
              </panel>

          </div>
      </div>
      <div class="panel-loading" ng-show="loading">
          <div class="panel-loader-circular"></div>
      </div>
      <dir-pagination-controls style="display:block;text-align:center;"></dir-pagination-controls>

  </div>
  <div ng-if="refused" class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-md-6" dir-paginate="it in allCharities|filter:search|itemsPerPage:12 track by $index">
              <panel ng-if="!it.status" panel-icon="fa fa-eye" panel-class="panel-toyo" heading="{{$index +1}}- {{it.fullname}}">
                  <panel-controls>
                    <img src="/uploadimages/{{it.profileimage}}" class="img-circle" alt="Cinque Terre" width="50" height="40">

                      <button ng-click="delete(it)" class="btn btn-danger button-icon"><i class="glyphicon glyphicon-remove"></i></button>
                      <button  data-toggle="modal" data-target="#editclassmodal" class="btn btn-primary button-icon"><i class="glyphicon glyphicon-edit"></i></button>

                  </panel-controls>
                  <div class="row">
                    <div class="col-md-6">
                      <b> Phone:  {{it.phone }}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Tax Register:  {{it.register}}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Address:  {{it.address}}</b>
                    </div>
                    <div class="col-md-6">
                      <b> Register No :  {{it.registernumber }}</b>
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">

                    </div>
                  </div>
                  <hr/>
                  <div class="pull-right">
                      <a ng-click="accepte(it)" class="btn btn-primary">Accept</a>

                  </div>
              </panel>

          </div>
      </div>
      <div class="panel-loading" ng-show="loading">
          <div class="panel-loader-circular"></div>
      </div>
      <dir-pagination-controls style="display:block;text-align:center;"></dir-pagination-controls>

  </div>

  <div class="panel-loading" ng-show="loading">
      <div class="panel-loader-circular"></div>
  </div>

  <!-- adding class modal  -->

</div>
