<!-- ng-init="showPanel = false; showSetting = false; showPrint = false;" -->
<div ng-controller="donctrl">
  <script type="text/ng-template" id="deleteModel.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirm Delete of class!{{}}</h3>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">Yes</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </script>
  <hr>
  <div id="page-heading">
      <ol class="breadcrumb">
          <li><a href="/">Dashboard</a></li>
          <li ><a>Donators</a></li>
      </ol>
      <h1 >Manage Donators</h1>

      <div class="options">
          <div class="col-sm-12 " >
              <div class="input-group">
                <div>
                  <input  type="text" class="form-control" ng-model="search" placeholder="Insert search key ......">
                </div>

                <div  class="input-group-btn">
                    <button  type="button" class="btn btn-default hidden-xs" data-toggle="modal" data-target="#addClassModal"> Suggest..</button>
                </div>
           </div>
          </div>
      </div>
  </div>
  <hr>
  <div  class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-md-3" dir-paginate="it in allDonators|filter:search|itemsPerPage:12 track by $index">
            <panel panel-icon="fa fa-eye" panel-class="panel-toyo" heading="{{$index +1}}- {{it.firstname}}">
                <panel-controls>
                  <img src="/uploadimages/{{it.profileimage}}" class="img-circle" alt="Cinque Terre" width="50" height="40">

                    <button ng-click="delete(it)" class="btn btn-danger button-icon"><i class="glyphicon glyphicon-remove"></i></button>
                    <button  data-toggle="modal" data-target="#editclassmodal" class="btn btn-primary button-icon"><i class="glyphicon glyphicon-edit"></i></button>

                </panel-controls>
                    <b> FirstName:  {{it.firstname }}</b>
                    <br/>
                    <b> LastName:  {{it.lastname}}</b>
                    <br/>
                    <b> Phone:  {{it.phone }}</b>
                    <br/>
                    <b> Address:  {{it.address}}</b>
            </panel>
          </div>
      </div>
      <div class="panel-loading" ng-show="loading">
          <div class="panel-loader-circular"></div>
      </div>
      <dir-pagination-controls style="display:block;text-align:center;"></dir-pagination-controls>

  </div>

  <div class="panel-loading" ng-show="loading">
      <div class="panel-loader-circular"></div>
  </div>



</div>
