<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Packages</li>
        <li class="active">Add Package</li>
    </ol>

    <h1>Add New Package</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="/packages" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-close"></i>Cancel</a>
        </div>
    </div>
</div>

<div class="container-fluid" ng-controller="editpackageCtrl">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-info" heading="Fill Out The Package Info">
                <div class="row">
                    <div class="col-lg-6">
                        <form name="addForm" ng-submit="addPackage()" class="form-horizontal">
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-3 control-label">Pacakge Name :</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="package.name" class="form-control" id="focusedinput" placeholder="Enter Package Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-3 control-label">Pacakge Hours :</label>
                                <div class="col-sm-6">
                                    <input type="number" ng-disabled="package.tracks.length" min="0" ng-model="package.hours" class="form-control" id="focusedinput" placeholder="Enter Package Hours" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" ng-disabled="addForm.$invalid" class="btn btn-lg btn-success" disabled="disabled">
                                        <i class="glyphicon glyphicon-save"></i> Save New Pacakge </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <panel panel-class="panel-warning" heading="Manage Package Tracks">
                            <table style="margin-top:-25px;" class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Track Name
                                        </th>
                                        <th>
                                            Hours
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <input type="text" ng-model="track.name" name="trackname" class="form-control" id="focusedinput" placeholder="Enter Track Name" required>
                                        </th>
                                        <th>
                                            <input type="number" name="tracksHours" min="1" ng-model="track.hours" class="form-control" id="focusedinput" placeholder="Enter Track Hours" required>
                                        </th>
                                        <th>
                                            <button ng-click="addTrack()" ng-if="!isEdit" ng-disabled="!track.hours || !track.name" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
                                            <button ng-click="saveTrack()" ng-if="isEdit" ng-disabled="!track.hours || !track.name" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-ok"></i></button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tr in package.tracks">
                                        <td>
                                            {{tr.name}}
                                        </td>
                                        <td>
                                            {{tr.hours}}
                                        </td>
                                        <td>
                                            <button ng-click="editTrack(tr)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></button>
                                            <button ng-click="removeTrack(tr)" class="btn btn-sm btn-danger"><i class="fa fa-recycle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </panel>
                    </div>
                </div>
            </panel>
        </div>
    </div>
</div>
<!-- container-fluid -->
