<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Branches</li>
        <li class="active">Edit Branch</li>
    </ol>
    <h1>Edit Branch  </h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="/branches" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-close"></i>Cancel</a>
        </div>
    </div>
</div>

<div class="container-fluid" ng-controller="editBranchCtrl">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-info" heading="Fill Out The Package Info">
                <div class="row">
                    <div class="col-lg-12">
                        <form name="addForm" ng-submit="add()" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Branch Name :</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="branch.name" class="form-control" id="name" placeholder="Enter Branch Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mail" class="col-sm-3 control-label">Branch Email:</label>
                                <div class="col-sm-6">
                                    <input type="email" min="0" ng-model="branch.email" class="form-control" id="mail" placeholder="Branch Email Address..">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Phone Number :</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="branch.phone" class="form-control" id="phone" placeholder="Branch Phone Number ...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-sm-3 control-label">Address :</label>
                                <div class="col-sm-6">
                                    <textarea ng-model="branch.address" class="form-control" id="address" placeholder="Branch address Details .....">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" ng-disabled="addForm.$invalid" class="btn btn-lg btn-success" disabled="disabled">
                                        <i class="glyphicon glyphicon-save"></i> Save Branch </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </panel>
        </div>
    </div>
</div>
