<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <h1>Dashboard</h1>

</div>


<div class="container-fluid" ng-controller="HomeCtrl">

    <div class="row">
        <div class="col-md-3" ng-repeat="item in largeTiles">
            <tile-large data="item"></tile-large>
        </div>
    </div>

</div>
<!-- container-fluid -->
