<style>
.brandlo {
    display: block;
    padding-bottom: 30px;
    margin: 0 auto;
    /*width: 104px;*/
}
</style>
<div class="verticalcenter" ng-controller="LoginCtrl">
	<a href="/admin"><img src="admin/logo.png" alt="Logo" class="brandlo img-responsive" /></a>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Log in to get started </h4>
			<form class="form-horizontal" style="margin-bottom: 0px !important;" method="post" ng-submit="login()" name="loginForm">
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" id="username" placeholder="Username" name="email" ng-model="user.email" required autofocus>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control" id="password" placeholder="Password" name="password" ng-model="user.password"
								placeholder="Password" required>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="text-center">
						<button  type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">
							Sign in </button>
					</div>
				</div>
			</form>
		</div>
		<!--<div class="panel-footer">
			<a href="#/" class="pull-left btn btn-link" style="padding-left:0">Forgot password?</a>
			<div class="pull-right">
				<a href="#" class="btn btn-default">Reset</a>
				<a href="#/" class="btn btn-primary">Log In</a>
			</div>
		</div>-->
	</div>
</div>
