<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Security Setting</li>
        <li class="active">Manage User </li>
    </ol>
    <h1>Manage Users</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-"></i></a>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>

</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-info" heading="Blank Page">
                <div class="container">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>
                                  Fixed Header Scrolling Table
                              </h4>
                            </div>
                            <table class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2">#</th>
                                        <th class="col-xs-8">Name</th>
                                        <th class="col-xs-2">Points</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="col-xs-2">5</td>
                                        <td class="col-xs-8">Henry Galivan</td>
                                        <td class="col-xs-2">44</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">6</td>
                                        <td class="col-xs-8">Bob Shea</td>
                                        <td class="col-xs-2">26</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">7</td>
                                        <td class="col-xs-8">Andy Parks</td>
                                        <td class="col-xs-2">56</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">8</td>
                                        <td class="col-xs-8">Bob Skelly</td>
                                        <td class="col-xs-2">96</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">9</td>
                                        <td class="col-xs-8">William Defoe</td>
                                        <td class="col-xs-2">13</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">10</td>
                                        <td class="col-xs-8">Will Tripp</td>
                                        <td class="col-xs-2">16</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">11</td>
                                        <td class="col-xs-8">Bill Champion</td>
                                        <td class="col-xs-2">44</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">12</td>
                                        <td class="col-xs-8">Lastly Jane</td>
                                        <td class="col-xs-2">6</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </panel>
        </div>
    </div>

</div>
<!-- container-fluid -->
