<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Packages</li>
    </ol>
    <h1>Manage Packages and their Tracks</h1>
    <div class="options">
        <div class="col-sm-6 pull-right" style="margin-top:-75px;">
            <div class="input-group">
                <div class="input-group-btn">
                    <a href="/addPackage" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-plus"></i> Add New</a>
                </div>
                <input type="text" class="form-control" ng-model="search" placeholder="Insert search key ......">
                <div class="input-group-btn">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                            Export as <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Pdf</a></li>
                            <li><a href="#">Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ng-init="showPanel = false; showSetting = false; showPrint = false;" -->
<div ng-controller="packageCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirm Delete of Package!</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Yes</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-3" dir-paginate="it in allPackages|filter:search|itemsPerPage:12">
                <panel panel-icon="fa fa-calendar" panel-class="panel-toyo" heading="{{$index +1}}- {{it.name}}">
                    <panel-controls>
                        <button ng-click="deletePackage(it)" class="btn btn-danger button-icon"><i class="glyphicon glyphicon-remove"></i></button>
                        <a href="/editPackages?id={{it._id}}" class="btn btn-primary button-icon"><i class="glyphicon glyphicon-edit"></i></a>
                    </panel-controls>
                    <p>Number of Tracks : {{it.tracks.length}}</p>
                    <p>Total Package Hours : {{it.hours}}</p>
                </panel>
            </div>
        </div>
        <div class="panel-loading" ng-show="loading">
            <div class="panel-loader-circular"></div>
        </div>
        <dir-pagination-controls style="display:block;text-align:center;"></dir-pagination-controls>
    </div>


</div>
</div>
