<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>User</li>
        <li class="active">Edit Profile</li>
    </ol>
    <h1>Edit My Profile </h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid" ng-controller="ProfileCtrl">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-info" heading="Edit Profile Data ">
                <legend><i class="ion-clipboard"></i> Manage Your Profile Data </legend>
                <form method="post" ng-submit="updateProfile()">
                    <div class="form-group">
                        <label class="control-label">Profile Picture</label>
                        <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label"><i class="ion-person"></i> Display Name</label>
                        <input type="text" class="form-control" ng-model="user.displayName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"><i class="ion-at"></i> UserName </label>
                        <input type="text" class="form-control" ng-model="user.email" />
                    </div>
                    <button class="btn btn-lg btn-success">Update Information</button>
                </form>
            </panel>
        </div>
    </div>
</div>
<!-- container-fluid -->
