<!-- ng-init="showPanel = false; showSetting = false; showPrint = false;" -->
<div ng-controller="sugctrl">
  <script type="text/ng-template" id="deleteModel.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirm Delete of class!{{}}</h3>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">Yes</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </script>
  <hr>
  <div id="page-heading">
      <ol class="breadcrumb">
          <li><a href="/">Dashboard</a></li>
          <li ><a>suggestions</a></li>
      </ol>
      <h1 >Manage suggestions</h1>

      <div class="options">
          <div class="col-sm-12 " >
              <div class="input-group">
                <div>
                  <input  type="text" class="form-control" ng-model="search" placeholder="Insert search key ......">
                </div>
           </div>
          </div>
      </div>
  </div>
  <hr>
  <div  class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-md-3" dir-paginate="it in allsugs|filter:search|itemsPerPage:12 track by $index">
              <panel panel-icon="fa fa-eye" panel-class="panel-toyo" heading="{{$index +1}}- {{it.helptype}}">
                  <panel-controls>
                      <button ng-click="delete(it)" class="btn btn-danger button-icon"><i class="glyphicon glyphicon-remove"></i></button>
                      <button  data-toggle="modal" data-target="#editclassmodal" class="btn btn-primary button-icon"><i class="glyphicon glyphicon-edit"></i></button>

                  </panel-controls>
                  <br>
                  <b> Phone:  {{it.phone }}</b>
                  <br>
                  <b> Address:  {{it.address}}</b>
                  <br>
                  <b> Needer Type:  {{it.needertype }}</b>
                  <hr>
                  <p> details: {{it.details}}</p>
              </panel>

          </div>
      </div>
      <div class="panel-loading" ng-show="loading">
          <div class="panel-loader-circular"></div>
      </div>
      <dir-pagination-controls style="display:block;text-align:center;"></dir-pagination-controls>

  </div>

  <div class="panel-loading" ng-show="loading">
      <div class="panel-loader-circular"></div>
  </div>

  <!-- adding class modal  -->


</div>
